.parent{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.segment{
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: 100px;
}
.twelve{
    background-color: blue;
    grid-column: 1/ span 12;
}
.eight{
    background-color: bisque;
    grid-column: 5/ span 8;
}
.six{
    background-color: lightblue;
    grid-column: 5/ span 6;
}
.seven{
    background-color: brown;
    grid-column: 3/ span 7;
}
.four{
    background-color: brown;
    grid-column: 1/ span 5;
}
