body{
    height: 95vh;
    display: grid;
    grid-template-areas:"head head" "nav main" "footer footer" ;
    grid-template-rows: 150px 1fr 150px;
    grid-template-columns: 150px 1fr;
    color: yellow;
    font-size: 2cm;
    grid-gap: 10px;
}

header{
    grid-area: head;
    background: green;
    text-align: center;
    padding: 2cm;
}

nav{
    grid-area: nav;
    background: lightblue;
    text-align: center;
}

main{
    grid-area: main;
    background: rgb(15,0, 128);
    text-align: center;
    padding: 2cm;
}

footer{
    grid-area: footer;
    background: rgb(185,47, 47);
    text-align: center;
    padding: 2cm;
}
